@charset "utf-8";


/* default styles */
a {
    text-decoration: none;
    color:#f00;
}

body, ul, li, div {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", "San Francisco", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

li {
    list-style: none;
}
/* resize 允许用户拉伸 */
textarea {
    resize: none;
} 

/* 清除浮动 */
.clearFloat:after {
    clear: both;
}

div {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input {
    outline: none
}